// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown-btn {
  position: relative;
  display: inline-block;
}
.gear-dropdown {
  width: 225px;
  z-index: 1;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
  font-family: $sans-serif;
  left: -1400%;
  position: absolute;
  background: white;
  padding: 7px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  font-weight: initial;
  li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.hidden {
  visibility: hidden;
}
