.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // li {
  //   font-family:
  // }
}

.left-nav > ul > li {
  font-family: $serif;
  font-size: 12px;
  margin-right: 15px;

}

.right-nav > ul > li {
  margin-left: 3px;
}

.right-nav > ul > li:last-of-type {
  font-size: 16px;
  margin-left:  20px;

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;

}

.left-nav span {

}


.right-nav i {

}
