<div class="masthead">
  <div class="language-nav-div">
    
  <ul class="language-nav">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>
</div>
  <img class ="logo" src="assets/AA_Times_Logo.png" alt="App Academy Logo">
  <ul class="masthead-links">
    <li id="no-border">Tuesday, October 18, 2016</li>
    <li>
      <i class="far fa-newspaper"></i>
      <a href="#">Today’s Paper</a>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <a href="#">Video</a>
    </li>
    <li>
      <button type="button" name="button">
        77°F
      </button>
    </li>
    <li >
      <button type="button" name="button">
        AAO+<strong>100%</strong>
      </button>
    </li>
  </ul>
</div>

<!-- CSS
HTML
Javascript
Ruby

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% -->
